:root {
    --board-color: navy;
    --border-color: lightskyblue;
}
#board {
    display:grid;
    width: 550px;
    height: 550px;
    margin: auto;
    grid-template-columns: repeat(11, 50px);;
    grid-template-rows: 50px;
    grid-auto-rows: 50px;
    justify-items: stretch;
    align-items: stretch;
    background-color: var(--board-color);
    border: solid 3px var(--border-color);
}

.content {
    display: block;
    margin: auto;
    text-align: center;
}

.board-field {
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    border: solid 1px var(--border-color);
    box-sizing: border-box;
}

.board-marker {
    position: relative;
}

.board-marker-text {
    font-size: 1rem;
    color: #F9FFDD;
}

.form {
    width: 60%;
    text-align: center;
    padding: 0.5rem;
    margin: auto;
    font-weight: bold;
    background-color: rgba(249, 255, 221, 0.5);
}

.error {
    display: none;
    color: darkred;
    font-size: 0.5rem;
}

#win {
    display:none;
}