:root {
    /* --board-color: navy; */
    --border-color: lightgray;
}
body {
    background-image: url('./img/photo/background.png');
}

div#startpage {
    width: 1000px;
    display: grid;
    margin: auto;
    position: relative;
    margin-bottom: 50px;

}

h1 {
    font-family: 'Bungee Inline';
    font-size: 165px;
    color: #52AD3A;
    line-height: 165px;
    font-style: normal;
    font-weight: normal;
    margin: 50px 0px;
}

h3 {
    font-family: Bungee;
    font-size: 18px;
    color: #E5E5E5;
    line-height: 22px;
    margin: 20px 30px;
}

#radarImg {
    mix-blend-mode: difference;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#radarAnim {
    position: absolute;
    bottom: 255px;
    right: 210px;
    mix-blend-mode: difference;
    transform-origin: 50% 100%;
    -webkit-animation: rotating 4s linear infinite;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

button {
    width: 300px;
    height: 100px;
    background-color: #12401C;
    border: 0px;
    text-align: center;
    font-family: Bungee;
    font-size: 32px;
    color: #52AD3A;
    margin: 20px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#board {
    display: grid;
    width: 550px;
    height: 550px;
    margin: auto;
    grid-template-columns: repeat(11, 50px);;
    grid-template-rows: 50px;
    grid-auto-rows: 50px;
    justify-items: stretch;
    align-items: stretch;
    background-color: var(--board-color);
    border: solid 3px var(--border-color);
}

#board2 {
    display: grid;
    width: 550px;
    height: 550px;
    margin: auto;
    grid-template-columns: repeat(11, 50px);;
    grid-template-rows: 50px;
    grid-auto-rows: 50px;
    justify-items: stretch;
    align-items: stretch;
    background-color: var(--board-color);
    border: solid 3px var(--border-color);
}

.content {
    display: block;
    margin: auto;
    text-align: center;
}

.board-field {
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    border: solid 1px var(--border-color);
    box-sizing: border-box;
}

.board-marker {
    position: relative;
    background-color: #52AD3A;
}

.board-marker-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #2a455f;
    text-align: center;
    font-weight: 900;
}

.form {
    width: 60%;
    text-align: center;
    padding: 0.5rem;
    margin: auto;
    font-weight: bold;
    background-color: rgba(249, 255, 221, 0.3);
}

.error {
    display: none;
    color: darkred;
    font-size: 0.5rem;
}

#win {
    display:none;
}
